.plans-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.plans-container {
  width: 1170px;
}
.plans-container .col-4 {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: -22px;
}
.plans-container .col-4 .text-title {
  font-family: "Source Sans", sans-serif;
  font-size: 14px;
  line-height: 63px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  color: #008ed6;
  margin-left: 144px;
  margin-top: -8px;
}
.plans-container .col-4 span {
  font-family: "Source Sans", sans-serif;
  font-size: 34px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 1.4px;
  color: black;
  margin-top: -15px;
  margin-left: 105px;
}
.plans-container .col-4 .line-wrapper {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 40px;
}
.plans-container .col-4 .line-wrapper .lines {
  width: 19px;
  display: flex;
  border-top: 2px solid #008ed6;
}
.plans-container .col-4 .line-wrapper {
  margin-top: 36px;
  margin-left: 210px;
}
.plans-container .col-4 .line-wrapper span:nth-child(1) {
  margin-left: 0;
}
.plans-container .col-4 .line-wrapper span:nth-child(2) {
  margin-left: 0;
}
.plans-container .row-columns {
  display: flex;
  justify-content: center;
  margin-top: -3px;
}
.plans-container .row-columns .price-list:hover .row:first-child {
  color: #008ed6;
}
.plans-container .row-columns .price-list:hover .row:nth-child(2) {
  background-color: #008ed6;
}
.plans-container .row-columns .price-list:hover .row:nth-child(2) span {
  color: #fafafa;
}
.plans-container .row-columns .price-list:hover .row:nth-child(3) button {
  background-color: #008ed6;
  color: #fffefe;
}
.plans-container .row-columns .col-3 {
  max-width: 23.9%;
  margin-right: -7px;
  padding-right: 22px;
  margin-top: 28px;
}
.plans-container .row-columns .col-3 .row {
  border: 1px solid;
  justify-content: center;
  font-family: "Source Sans", sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #1a1a1a;
  padding-top: 22px;
  padding-bottom: 21px;
}
.plans-container .row-columns .col-3 .row:nth-child(2) {
  display: flex;
  flex-direction: column;
  padding-top: 37px;
  padding-bottom: 14px;
  padding-left: 114px;
}
.plans-container .row-columns .col-3 .row:nth-child(2) span {
  font-size: 18px;
  line-height: 59px;
  font-weight: 400;
  color: #999999;
  margin-left: -21px;
  letter-spacing: -0.1px;
}
.plans-container .row-columns .col-3 .row:nth-child(2) div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 18px;
}
.plans-container .row-columns .col-3 .row:nth-child(2) div span {
  font-family: "Source Sans", sans-serif;
  font-size: 27px;
  line-height: 20px;
  font-weight: 600;
  color: #1a1a1a;
}
.plans-container .row-columns .col-3 .row:nth-child(2) div span:nth-child(1) {
  top: 8px;
  right: 2px;
  position: relative;
}
.plans-container .row-columns .col-3 .row:nth-child(2) div span:nth-child(2) {
  font-size: 57px;
  margin-left: 0.5px;
  margin-top: 18px;
}
.plans-container .row-columns .col-3 .row:nth-child(3) {
  font-family: "Source Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #999999;
  padding-top: 44px;
}
.plans-container .row-columns .col-3 .row:nth-child(3) span {
  text-align: center;
  width: 201px;
  margin-left: 1px;
  letter-spacing: 0.1px;
  padding-top: 2px;
  padding-bottom: 21px;
}
.plans-container .row-columns .col-3 .row:nth-child(3) button {
  width: 162px;
  height: 52px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  font-family: "Source Sans", sans-serif;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 0.4px;
  font-weight: 700;
  text-transform: uppercase;
  color: #008ed6;
  margin-top: 18px;
  margin-bottom: 17px;
  margin-right: 2px;
}
.plans-container .row-columns .col-3:nth-child(2) {
  margin-left: 27px;
}
.plans-container .row-columns .col-3:nth-child(2) .row {
  letter-spacing: 0.7px;
}
.plans-container .row-columns .col-3:nth-child(2) .row:nth-child(2) .columns {
  margin-left: 4px;
}
.plans-container .row-columns .col-3:nth-child(2) .row:nth-child(3) span {
  margin-left: 4px;
}
.plans-container .row-columns .col-3:nth-child(2) .row:nth-child(3) button {
  margin-left: 4px;
}
.plans-container .row-columns .col-3:nth-child(3) {
  margin-left: 27px;
  padding-right: 23px;
}
.plans-container .row-columns .col-3:nth-child(3) .row {
  letter-spacing: 0.7px;
}
.plans-container .row-columns .col-3:nth-child(3) .row:nth-child(2) .columns {
  margin-left: 6px;
}
.plans-container .row-columns .col-3:nth-child(3) .row:nth-child(3) span {
  margin-left: 4px;
}
.plans-container .row-columns .col-3:nth-child(3) .row:nth-child(3) button {
  margin-left: 6px;
}
.plans-container .row-columns .col-3:nth-child(4) {
  margin-left: 28px;
}
.plans-container .row-columns .col-3:nth-child(4) .row {
  letter-spacing: 1px;
}
.plans-container .row-columns .col-3:nth-child(4) .row:nth-child(2) .columns {
  margin-left: 3px;
}
.plans-container .row-columns .col-3:nth-child(4) .row:nth-child(3) span {
  margin-left: 5px;
}
.plans-container .row-columns .col-3:nth-child(4) .row:nth-child(3) button {
  margin-left: 2px;
}

@media screen and (max-width: 1200px) {
  .plans-wrapper .plans-container .row .title {
    margin-left: 22px;
  }
  .plans-wrapper .plans-container .row .title span {
    margin: auto;
  }
  .plans-wrapper .plans-container .row .title span:nth-child(2) {
    margin-left: 0;
  }
  .plans-wrapper .plans-container .row .title .line-wrapper {
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 40px;
  }
  .plans-wrapper .plans-container .row .title .line-wrapper .lines {
    width: 19px;
    display: flex;
    border-top: 2px solid #008ed6;
  }
  .plans-wrapper .plans-container .row .title .line-wrapper {
    margin-left: 90px;
  }
  .plans-wrapper .plans-container .row-columns {
    flex-wrap: wrap;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(1) {
    max-width: 50%;
    padding-right: 34px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(1) .row:nth-child(2) {
    padding-left: 158px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(2) {
    max-width: 50%;
    margin-left: 0;
    padding-right: 32px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(2) .row:nth-child(2) {
    padding-left: 160px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(3) {
    max-width: 50%;
    margin-left: 1px;
    padding-right: 34px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(3) .row:nth-child(2) {
    padding-left: 160px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(4) {
    max-width: 50%;
    margin-left: 0;
    padding-right: 32px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(4) .row:nth-child(2) {
    padding-left: 155px;
  }
}
@media screen and (max-width: 768px) {
  .plans-wrapper .plans-container .row .title {
    margin-left: 22px;
  }
  .plans-wrapper .plans-container .row .title span {
    margin: auto;
  }
  .plans-wrapper .plans-container .row .title span:nth-child(2) {
    margin-left: -10px;
  }
  .plans-wrapper .plans-container .row .title .line-wrapper {
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 40px;
  }
  .plans-wrapper .plans-container .row .title .line-wrapper .lines {
    width: 19px;
    display: flex;
    border-top: 2px solid #008ed6;
  }
  .plans-wrapper .plans-container .row .title .line-wrapper {
    margin-left: 90px;
  }
  .plans-wrapper .plans-container .row-columns {
    flex-wrap: wrap;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(1) {
    max-width: 50%;
    padding-right: 34px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(1) .row:nth-child(2) {
    padding-left: 158px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(2) {
    max-width: 50%;
    margin-left: 0;
    padding-right: 32px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(2) .row:nth-child(2) {
    padding-left: 160px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(3) {
    max-width: 50%;
    margin-left: 1px;
    padding-right: 34px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(3) .row:nth-child(2) {
    padding-left: 160px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(4) {
    max-width: 50%;
    margin-left: 0;
    padding-right: 32px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(4) .row:nth-child(2) {
    padding-left: 155px;
  }
}
@media screen and (max-width: 320px) {
  .plans-wrapper .plans-container .row .title span:nth-child(1) {
    width: 200px;
    margin-left: -40px;
  }
  .plans-wrapper .plans-container .row .title span:nth-child(2) {
    width: 260px;
    margin-left: -80px;
  }
  .plans-wrapper .plans-container .row .title .line-wrapper {
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 40px;
  }
  .plans-wrapper .plans-container .row .title .line-wrapper .lines {
    width: 19px;
    display: flex;
    border-top: 2px solid #008ed6;
  }
  .plans-wrapper .plans-container .row .title .line-wrapper {
    display: none;
  }
  .plans-wrapper .plans-container .row-columns {
    display: block;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(1) {
    max-width: 100%;
    padding-right: 16px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(1) .row:nth-child(2) {
    padding-left: 136px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(2) {
    max-width: 100%;
    padding-right: 16px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(2) .row:nth-child(2) {
    padding-left: 136px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(3) {
    max-width: 100%;
    padding-right: 16px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(3) .row:nth-child(2) {
    padding-left: 136px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(4) {
    max-width: 100%;
    padding-right: 16px;
  }
  .plans-wrapper .plans-container .row-columns .price-list:nth-child(4) .row:nth-child(2) {
    padding-left: 136px;
  }
}
/*# sourceMappingURL=plans.css.map */
